@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}



body {
    display: flex;
    align-items: center;       
    justify-content: center;   
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #06402B);
    color: #333;
}

.container {
    margin: 0 15px;  
}

.form-box.active{
    display: block;
}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #0b7b52;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #084e34;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #084e34;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.error-message{
    padding: 12px;
    background: white;
    border-radius: 6px;
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.programs-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .course-category {
    margin-bottom: 20px;
  }
  
  .course-category h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .course-category ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .course-category ul li {
    margin-bottom: 5px;
  }
  
